static:
  name: hot-sauce-frontend
  buildCommand: npm install && npm run build
  publishDirectory: dist
  headers:
    - path: /*
      name: X-Content-Type-Options
      value: nosniff
    - path: /*
      name: X-Frame-Options
      value: DENY
  routes:
    - type: rewrite
      source: /*
      destination: /index.html

